.blur{
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(8px); 
    height: 100%;
    width: 100%;
    padding: 0.5rem;
    border-radius: 50px;
}

.divider{
    color: white;
    background-color: rgb(0,21,41);
    height: 100%;
    width: 11rem;
    padding: 0.5rem;
    border-radius: 50px;
}

.essay-wrapper{
    border-radius: 30px;
    padding: 1.25rem;
    background: rgba(134, 128, 128, 0.13); 
    backdrop-filter: blur(8px); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.essay-wrapper_header{
    background: transparent;
    border-bottom: 1px solid rgb(158, 149, 149);
}


.ant-card .ant-card-head-title {
    display: inline-block;
    flex: 1;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    padding: 1rem;
}
