.navbar{
    background-color: white;
    border-bottom: 3px solid black;
    padding: 1rem;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
}
.ant-menu-light.ant-menu-horizontal{
    background-color: inherit;
    color: inherit;
    justify-content: end;
    padding: 1rem;
    font-size: x-large;
    border-bottom: 0;
}